/*default color scheme */
@define-color toolbar_base #e0e0e0;
@define-color toolbar_final #bcbcbc;
@define-color toolbar_border #ffffff;
@define-color toolbar_bg_color @toolbar_base;
@define-color toolbar_fg_color @fg_color;
@define-color toolbar_textshadow_color @bg_color;
@define-color toolbar_bg_top_color @toolbar_base;
@define-color toolbar_bg_bottom_color @toolbar_final;
@define-color toolbar_border_top_color @toolbar_base;
@define-color toolbar_border_bottom_color @toolbar_border;

/* misc colors used by gtk+
 *
 * Gtk doesn't currently expand color variables for style properties. Thus,
 * gtk-widgets.css uses literal color names, but includes a comment containing
 * the name of the variable. Please remember to change values there as well
 * when changing one of the variables below.
 */
@define-color info_fg_color rgb (181, 171, 156);
@define-color info_bg_color rgb (252, 252, 189);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (138, 173, 212);
@define-color error_fg_color rgb (166, 38, 38);
@define-color error_bg_color rgb (237, 54, 54);
@define-color link_color #148add;
@define-color error_color #cc0000;
@define-color combobox_color #888888;
@define-color progress_color #5591c3;
@define-color scroll_color #B3B3B3;
@define-color sidepane_color #dae0e6;

/* theme common colors */
@define-color button_bg_color shade (@bg_color, 1.02); /*shade (#cdcdcd, 1.08);*/
@define-color notebook_button_bg_color shade (@bg_color, 1.02);
@define-color button_insensitive_bg_color mix (@button_bg_color, @bg_color, 0.6);
@define-color dark_bg_color #e0e0e0;
@define-color dark_fg_color @fg_color;
@define-color transparent rgba (0, 0, 0, 0);

@define-color backdrop_fg_color mix (@bg_color, @fg_color, 0.8);
@define-color backdrop_text_color mix (@base_color, @text_color, 0.8);
@define-color backdrop_dark_fg_color mix (@dark_bg_color, @dark_fg_color, 0.75);
@define-color backdrop_selected_bg_color shade (@bg_color, 0.92);
@define-color backdrop_selected_fg_color @fg_color;

/* strange colors */
@define-color scrollslider_gradient_a #bdbdbd;
@define-color scrollslider_gradient_b #bdbdbd;
@define-color scrollslider_border #bdbdbd;
@define-color trough_bg_color_a #efefef;
@define-color trough_bg_color_b #e0e0e0;
@define-color colorAccent @selected_bg_color;


*:link,
*:visited {
    color: @link_color;
}

/**********
 * states *
 **********/
*:disabled {
    color: shade (@bg_color, 0.6);
    text-shadow: none;
}

/************
 * toolbars *
 ************/

.menubar.toolbar,
.primary-toolbar,
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
	-GtkWidget-window-dragging: true;
	background-image: -gtk-gradient (linear, left top, left bottom,
					from (@toolbar_bg_top_color),
					to (@toolbar_bg_bottom_color));
	border-top-color: @toolbar_border_top_color;
	border-bottom-color: @toolbar_border_bottom_color;
	border-style: solid;
	border-width: 1px 0 1px 0;
	padding: 2px;
	color: @toolbar_fg_color;
}



.menubar.toolbar :disabled,
.primary-toolbar :disabled {
	color: mix (@toolbar_bg_color, @toolbar_fg_color, 0.35);
}

.menubar.toolbar GtkSeparatorToolItem,
.menubar.toolbar .separator,
.menubar.toolbar .separator:disabled,
.primary-toolbar GtkSeparatorToolItem,
.primary-toolbar .separator,
.primary-toolbar .separator:disabled {
	border-color: alpha (shade (@toolbar_bg_color, 0.9), 0.5);
	border-style: solid;
}

/* primary-toolbar */
.primary-toolbar,
.primary-toolbar .toolbar,
.primary-toolbar.toolbar,
.menubar.toolbar,
.header-bar {
    box-shadow: inset 0 0px shade (@dark_bg_color, 0.94);
}


/*************************
 *  header bars		 *
 *************************/

.header-bar {
    padding: 5px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: shade(@toolbar_bg_color, 0.7);
    background-image: linear-gradient(to bottom,
                                      shade(@toolbar_bg_color, 1.00),
                                      shade(@toolbar_bg_color, 0.90)
                                      );
}


/*************************
 * progressbar and scale *
 *************************/

.scale.trough.highlight {
    background-color: #ff0000;
    background-image: none;
    background-clip: content-box;
}

.menubar .menuitem .scale.highlight.left,
.scale.highlight.left,
.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus {
    border-radius: 8px;
    border-width: 0px;
    background-image: none;
    background-color: @progress_color;
    border-style: solid;
}

/********
 * menu *
 ********/

.menubar {
	padding: 2px;
}

GtkTreeMenu.menu .menuitem:disabled,
GtkTreeMenu.menu .menuitem *:disabled,
.toolbar .primary-toolbar .menu .menuitem:disabled,
.toolbar .primary-toolbar .menu .menuitem *:disabled,
.toolbar .menubar.toolbar .menu .menuitem:disabled,
.toolbar .menubar.toolbar .menu .menuitem *:disabled,
.toolbar .header-bar .menu .menuitem:disabled,
.toolbar .header-bar .menu .menuitem *:disabled,
GtkMenuToolButton.menu .menuitem:disabled,
GtkMenuToolButton.menu .menuitem *:disabled,
.primary-toolbar .button .menu .menuitem:disabled,
.primary-toolbar .button .menu .menuitem *:disabled,
.menubar.toolbar .button .menu .menuitem:disabled,
.menubar.toolbar .button .menu .menuitem *:disabled,
.header-bar .button .menu .menuitem:disabled,
.header-bar .button .menu .menuitem *:disabled,
.menuitem:disabled,
.menuitem *:disabled {
    color: mix (@dark_fg_color, @dark_bg_color, 0.5);
    text-shadow: none;
}

.menuitem .accelerator:disabled {
    color: alpha (mix (@dark_fg_color, @dark_bg_color, 0.5), 0.5);
    text-shadow: none;
}

/***************
 * menubaritem *
 ***************/

.menubar.menuitem:hover,
.menubar .menuitem:hover {
    border-radius: 4px 4px 0 0;
    border-width: 1px 1px 0 1px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@selected_bg_color, 1.20)),
                                     to (shade (@selected_bg_color, 0.80)));

    box-shadow: none;

    color: @selected_fg_color;
    text-shadow: none;
}

.menubar.menuitem:hover,
.menubar .menuitem:hover {
    border-color: #9CB8B8;
}

/* Nautilus mods */

/* sidebar */
NautilusWindow .sidebar,
NautilusWindow .sidebar .view {
    background-color: @sidepane_color;
}

*:drop(active):focus,
*:drop(active) {
  box-shadow: inset 0 0 0 1px #F08437; }

decoration {
  border-radius: 6px 6px 0 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin: 2px; }
  decoration:backdrop {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 transparent, 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: 200ms ease-out; }
  .fullscreen decoration,
  .tiled decoration {
    border-radius: 0; }
  .popup decoration {
    box-shadow: none;
    border-radius: 0; }
  .ssd decoration {
    border-radius: 6px 6px 0 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.5); }
    .ssd decoration.maximized {
      border-radius: 0; }
  .csd.popup decoration {
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1); }
  tooltip.csd decoration {
    border-radius: 2px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1); }
  messagedialog.csd decoration {
    border-radius: 3px; }
  .solid-csd decoration {
    border-radius: 0;
    margin: 1px;
    background-color: #e7e8eb;
    box-shadow: none; }


