/**********
 * Button *
 **********/

.button {
    border-color: @border_color;
    border-style: solid;

    background-image: -gtk-gradient (linear,
				     left top, 
				     left bottom,
				     from (@button_gr_color_a),
				     to (@button_gr_color_b));
}

.button:hover {
    border-color: #B4BDC5;

    background-image: -gtk-gradient (linear,
				     left top, 
				     left bottom,
				     from (@button_hover_gr_color_a),
				     to (@button_hover_gr_color_b));
}

.button:active,
.button:hover:active {
    border-color: #898989;

    background-image: -gtk-gradient (linear,
				     left top, 
				     left bottom,
				     from (#C1C1C1),
				     to (#B5B5B5));
}

.button:insensitive {
    border-color: #B8B8B8;
    
    background-image: -gtk-gradient (linear,
				     left top, 
				     left bottom,
				     from (#D4D4D4),
				     to (#D1D1D1)); 
}

