# Ozone3 theme for Lubuntu 12.04 (GPL2) by 神癒礁湖 (Rafael Laguna)
# Inspired on Prudence/Sammy, by Андрей Твердов (Andrey Tverdov)

/* Default color scheme */
@define-color fg_color #333333;
@define-color bg_color #e0e0e0;
@define-color base_color #ffffff;
@define-color text_color #333333;
@define-color selected_bg_color #8FB2CF;
@define-color selected_fg_color #333333;
@define-color tooltip_bg_color #E3F1FF;
@define-color tooltip_fg_color #333333;
@define-color null rgba(0,0,0,0);

@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;

/* Custom colors */
@define-color border_color #A3A3A3;
@define-color border_hover_color #B4BDC5;
@define-color border_trough_color #B2B2B2;

@define-color button_gr_color_a #F2F2F2;
@define-color button_gr_color_b #E0E0E0;

@define-color button_hover_gr_color_a #EFF3F6;
@define-color button_hover_gr_color_b #DAE2E9;

@define-color slider_gr_color_a #F9F9F9;
@define-color slider_gr_color_b #C2C2C2;

@define-color slider_hover_gr_color_a #E6F3FF;
@define-color slider_hover_gr_color_b #C8D4DE;

@define-color progressbar_border_active_color #6594E6;
@define-color progressbar_gr_color_a #B7D1E6;
@define-color progressbar_gr_color_b #7BA2C3;

@define-color trough_gr_color_a #A5A5A5;
@define-color trough_gr_color_b @bg_color;

@define-color toolbar_gradient_base #e0e0e0;
@define-color toolbar_gradient_step1 #e0e0e0;
@define-color toolbar_gradient_step2 #c0c0c0;
@define-color toolbar_gradient_final #c0c0c0;
@define-color toolbar_border_top shade (@theme_bg_color, 0.56);
@define-color toolbar_border_bottom_shade #808080;
@define-color toolbar_active_button_color #909081;
@define-color primary_toolbar_entry_bg @theme_base_color;
@define-color primary_toolbar_entry_fg @theme_text_color;

@define-color menu_bg_color shade (@theme_bg_color, 1.1);
@define-color menu_fg_color @theme_fg_color;
@define-color menu_controls_color shade (@theme_fg_color, 0.9);
@define-color menu_combobox_border #3277bf;
@define-color menu_separator mix (@menu_fg_color, @menu_bg_color, 0.9);

/* For all widgets */
* { 
    engine:unico;
    border-width: 1;
    border-radius: 2;
    border-style: none;

    -unico-focus-fill-color: @null;
    -unico-focus-border-color: alpha (@border_color, 0.5);
    -unico-focus-border-radius: 2;

    -unico-focus-outer-stroke-color: @null;
    -unico-inner-stroke-color: alpha (@border_color, 0.5);
    -unico-inner-stroke-width: 0;
}

@import url("button.css");
@import url("progressbar.css");
@import url("scale.css");
@import url("entry.css");
@import url("radio.css");
@import url("check.css");
@import url("scrollbar.css");
@import url("menu.css");
@import url("spinbutton.css");
@import url("notebook.css");
@import url("switch.css");
@import url("workaround.css");
@import url("nautilus.css");
@import url("toolbar.css");
