/********
 * Menu *
 ********/
    -GtkWidget-window-dragging: true;

.menuitem {
    -unico-bullet-color: @fg_color;
    border-radius: 0;
}

.menuitem:prelight {
    border-style: solid;
    border-color: #7196B5;
    color: #ffffff;
    background-image: -gtk-gradient (linear,
				     left top, 
				     left bottom,
				     from (#88ABC7),
				     to (#7EA3BF));
}

.menuitem *:hover,
.menubar .menuitem *:prelight {
    color: #ffffff;
    border-style: solid;
    border-radius: 0;
}

.menuitem:insensitive,
.menuitem *:insensitive {
    color: mix (#666666, #ffffff, 0.6);
}

.menu {
    background-color: #ffffff;
    color: @fg_color;
    padding: 1;
    border-style: solid;
    border-color: #666666;
    border-radius: 0;
c
}
