/***************
 * ProgressBar * 
 ***************/

GtkProgressBar {
    padding: 1px;
    border-radius: 12px;
    border-style: solid;
}

GtkProgressBar.progressbar {
    /*border-color: none;*/
    background-image: -gtk-gradient (linear,
				     left top, 
				     left bottom,
				     from (@progressbar_gr_color_a),
				     to (@progressbar_gr_color_b)); 
}

GtkProgressBar.progressbar.vertical {
    background-image: -gtk-gradient (linear,
				     left top, 
				     right top,
				     from (@progressbar_gr_color_a),
				     to (@progressbar_gr_color_b)); 
}

GtkProgressBar.trough {
    border-color: @border_trough_color;
    background-image: -gtk-gradient (linear,
				     left top, 
				     left bottom,
				     from (@trough_gr_color_a),
				     to (@trough_gr_color_b)); 
}

GtkProgressBar.trough.vertical {
    background-image: -gtk-gradient (linear,
				     left top, 
				     right top,
				     from (@trough_gr_color_a),
				     to (@trough_gr_color_b)); 
}
