/**************
 * SpinButton *
 **************/

GtkSpinButton.button,
GtkSpinButton.button:insensitive,
GtkSpinButton.button:prelight,
GtkSpinButton.button:active,
GtkSpinButton.button:focused {
    border-color: @border_color;
    border-style: solid;

    background-image: -gtk-gradient (linear,
				     left top, 
				     left bottom,
				     from (@button_gr_color_a),
				     to (@button_gr_color_b));
}
