########################################################################
# Scrollbar
########################################################################

style "scrollbar" {

	GtkScrollbar		::has-backward-stepper              = 0  
	GtkScrollbar		::has-forward-stepper               = 0
	GtkScrollbar		::min-slider-length                 = 30
	GtkScrollbar		::slider-width                      = 10
	GtkScrollbar		::trough-border                     = 1

	xthickness = 2
	ythickness = 2

	bg[SELECTED]	= "#aaaaaa"
	bg[ACTIVE]		= "#b5b5b5"

	engine "murrine" {
		roundness			= 16
		gradient_shades		= {1.0,1.0,1.0,1.0}
		highlight_shade		= 1.0
		glow_shade			= 1.0
		reliefstyle			= 0
		gradient_colors		= FALSE
    	lightborder_shade	= 1.0
		lightborderstyle	= 0
		trough_shades	    = { 1.3, 1.3}
		border_shades		= { 2.0, 2.0}
		contrast			= 0.0
		colorize_scrollbar	= TRUE
	}
}

style "hscrollbar" {
}

style "vscrollbar" {
}

class "GtkScrollbar*" style "scrollbar"
class "GtkHScrollbar" style "hscrollbar"
class "GtkVScrollbar" style "vscrollbar"
